body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

h1 {
  font-family: 'Patrick Hand', cursive;
}

h2, h3, p {
  font-family: 'Noto Sans', sans-serif;
}

button {
  padding: 10px 20px;
  border-radius: 30px;
  font-family: 'Noto Sans', sans-serif;
  border: solid 1px #999999;
}

button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.fade-in {
  animation: fadeIn ease 500ms;
  -webkit-animation: fadeIn ease 500ms;
  -moz-animation: fadeIn ease 500ms;
  -o-animation: fadeIn ease 500ms;
  -ms-animation: fadeIn ease 500ms;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}